<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header(title='Create Contact')"></div>
<body>

<div class="container">
    <!--/*@thymesVar id="contact" type="hu.suaf.demo.model.Contact"*/-->
    <form action="#" th:action="@{/contact/create}" method="post" th:object="${contact}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{address}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" th:field="*{phone}">
        </div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">Birth date</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>